@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Lora:ital@0;1&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #EBECF0;
}

body main{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 840px;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px #9E9EA1;
    height: 30cm;
    width: 21cm;
}

.wrapper .name-container{
    background-color: #EBC9BB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;

    height: 6.8cm;
    margin-top: 1.6cm;
}

.wrapper .name-container div{
    margin-bottom: 1.3cm;
    margin-right: 3cm;
}

.wrapper .name-container div .name{
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
}

.wrapper .name-container div .position{
    color: #222222;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 8px;
}

.wrapper .banner{
    background-color: #6B9999;
    width: 7.6cm;
    height: 26.8cm;

    position: absolute;
    top: 50px;
    margin-left: 1.2cm;

    display: flex;
    flex-direction: column;
}

.wrapper .banner img{
    width: 6.8cm;
    border-radius: 50%;
    border-color: #fff;
    border-width: 4px;
    border-style: solid;
    margin-top: 1.6cm;
    place-self: center;
}

.wrapper .banner div, .wrapper .banner p{
    color: #fff;
    margin-left: .7cm;
}

.wrapper .banner .profile{
    margin-top: 1.5cm;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.wrapper .banner .program{
    margin-top: .4cm;
    font-family: 'Lora', serif;
    font-size: 17px;
    padding-right: 80px;
}

.wrapper .banner .description{
    margin-top: .9cm;
    font-family: 'Lora', serif;
    font-size: 17px;
    padding-right: 60px;
}

.wrapper .banner .contact-title{
    margin-top: 3.6cm;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

.wrapper .banner .number i, .wrapper .banner .email i, .wrapper .banner .address i{
    font-size: 20px;
}

.wrapper .banner .number {
    margin-top: 15px;
}

.wrapper .banner .number p{
    display: inline;
    margin-left: 10px;
    font-family: 'Lora', serif;
    font-size: 14px;
    letter-spacing: 1px;
}

.wrapper .banner .email, .address {
    margin-top: 10px;
}

.wrapper .banner .email p{
    display: inline;
    margin-left: 10px;
    font-family: 'Lora', serif;
    font-size: 14px;
    letter-spacing: 1px;
}

.wrapper .banner .address p{
    font-family: 'Lora', serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 34px;
}

.wrapper .banner .address .first{
    display: inline;
    margin-left: 14px;
}

.wrapper .knowledge{
    margin-left: 47%;
    margin-right: 5%;
    margin-top: 1.6cm;
}

.wrapper .knowledge div {
    display: flex;
    align-items: center;
}

.wrapper .knowledge div i{
    font-size: 30px;
    color: #5B8F8F;
}

.wrapper .knowledge div p{
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    color: #222222;
    margin-left: 10px;
}

.wrapper .knowledge .school{
    font-family: 'Lora', serif;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: 6px;
    margin-top: 10px;
}

.wrapper .knowledge .program, .wrapper .knowledge .year{
    font-family: 'Lora', serif;
    letter-spacing: 1px;
    font-style: italic;
    margin-left: 6px;
    margin-top: 5px;
}

.wrapper .knowledge .computer-skills, .wrapper .knowledge .seminars, .wrapper .knowledge .personal-projects{
    margin-top: 16px;
}

.wrapper .knowledge .skill, .wrapper .knowledge .seminar, .wrapper .knowledge .project{
    font-family: 'Lora', serif;
    letter-spacing: 1px;
    margin-left: 6px;
    margin-top: 5px;
}

.wrapper .knowledge .link{
    font-family: 'Lora', serif;
    font-size: 11px;
    letter-spacing: 1px;
    margin-left: 6px;
    margin-top: 5px;
}